@model IEnumerable<CattleEnd.SharedModels.Models.Warrior>

@{
    ViewBag.Title = "List of warriors";
}

<h2>List of warriors</h2>

<p>
    @Html.ActionLink("Create new", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Species
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Species.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Assign additional guard day", "Assign", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>
